{{ if not .Params.noauthor }}
  {{ $site := .Site }}
  {{ $social := .Site.Params.social }}
  {{ if isset .Params.author "social" }}
    {{ range .Params.author.social }}
      {{ partial "author/social/site" . }}
    {{ end }}
  {{ else if isset .Params.author "social-sites" }}
    {{ range $name := index .Params.author "social-sites" }}
      {{ range $social }}
        {{ if eq $name .site }}
          {{ partial "author/social/site" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else if and (not .Site.Author.noauthor) (isset .Site.Author "social-sites") }}
    {{ range $name := index $site.Author "social-sites" }}
      {{ range $social }}
        {{ if eq $name .site }}
          {{ partial "author/social/site" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
