{{ partial "_stylesheet" "//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css" -}}
{{ "<!--[if lte IE 8]>" | safeHTML }}
{{ partial "_stylesheet" "//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css" -}}
{{ "<![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]><!-->" | safeHTML }}
{{ partial "_stylesheet" "//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css" -}}
{{ "<!--<![endif]-->" | safeHTML }}
{{ "<!--[if lt IE 9]>" | safeHTML }}
{{ partial "_script" "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js" -}}
{{ "<![endif]-->" | safeHTML }}
