{{ if not ($.Scratch.Get "is404") }}
<meta property="og:title" content="{{ or .Params.og.title .Title }}" />
{{ if or (.Params.og.description .Description) }}
<meta property="og:description" content="{{ or .Params.og.description .Description }}" />
{{ end }}
<meta property="og:type" content="{{ or (or ($.Site.Data.og.type) ($.Site.Data.cabaret.og.type)) "website" }}" />
<meta property="og:locale" content="{{ $.Scratch.Get "lang" }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.og.image }}<meta property="og:image" content="{{ . }}" />{{ end }}
{{ end }}
