{{- $taxonomyDescription := index $.Site.Taxonomies (printf "%s-desc" .Data.Singular) -}}
{{- $taxonomyName := $.Scratch.Get "@taxonomy/name" -}}
<dl>
{{- range $name, $pages := .Data.Terms -}}
  {{- $page := index $pages 0 -}}
  {{- $len := len $pages -}}
  {{- range $friendly := index $page.Page.Params $taxonomyName -}}
    {{- if eq ($friendly | urlize) $name -}}
  <dt>
    <a href="{{ (printf "/%s/%s" $taxonomyName $name) | relURL }}">{{ $friendly }}</a>
    &nbsp;<span class="nav-item-separator">//</span>
    {{- $len }} {{ if eq 1 $len }}entry{{ else }}entries{{ end }}
  </dt>
    {{- end -}}
  {{- end -}}
  {{- $descPages := index $taxonomyDescription $name -}}
  <dd>
    {{- if len $descPages -}}
      {{- $descPage := index $descPages 0 -}}
    <span class="term-desc">{{- $descPage.Page.Content -}}</span>
    {{- end -}}
  </dd>
{{- end -}}
</dl>
