{{- if not .Params.nopaging -}}
<div class="paging">
  <span class="paging-label">More Reading</span>
  {{- if .Prev -}}
  <div class="paging-newer">
    <span class="dark-red">Newer</span><span class="decorative-marker">//</span>
    <a class="paging-link" href="{{ .Prev.RelPermalink }}">{{ .Prev.Title }}</a>
  </div>
  {{- end -}}

  {{- if .Next -}}
  <div class="paging-older">
    <span class="dark-red">Older</span><span class="decorative-marker">//</span>
    <a class="paging-link" href="{{ .Next.RelPermalink }}">{{ .Next.Title  }}</a>
  </div>
  {{- end -}}
</div>
{{- end -}}
