{{ $field := .Site.Params.filter.field }}
{{ $value := .Site.Params.filter.value }}
{{ $postLimit := .Site.Params.filter.postLimit }}
{{ $fullPostLimit := .Site.Params.filter.fullPostLimit }}
{{ $allPostLimit := .Site.Params.filter.allPostLimit }}
{{ $filter := where .Data.Pages $field $value }}
{{ range $index, $page := where .Data.Pages $field $value }}
  {{ if and $postLimit (le $index $postLimit) }}
  <section class="post">
    {{ if and $fullPostLimit (lt $index $fullPostLimit) }}
      <h1 class="post-title">{{ .Title }}</h1>
      <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>

      {{ partial "post/date.html" . }}
      {{ partial "post/author.html" . }}
      {{ partial "post/categories.html" . }}
      {{ partial "socialsharing/buttons.html" . }}
      {{ partial "post/bannerinline.html" . }}

      {{ .Content }}

      {{ partial "socialsharing/buttons.html" . }}
      {{ partial "post/taglist.html" . }}
      {{ partial "post/paging.html" . }}
    {{ else }}
      {{ partial "list/post/summary.html" . }}
    {{ end }}
  </section>
  {{ else }}
    {{ if or (and $allPostLimit (lt $index $allPostLimit)) (lt $index (len $filter)) }}
    <section class="post">
      <h3 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <span class="post-date pull-right">{{ partial "post/date.html" . }}</span>
    </section>
    {{ end }}
  {{ end }}
{{ end }}
