{{ partial "header.html" . }}
<body>
  {{ partial "totop/marker.html" . }}

  <div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div id="top" class="content pure-u-1 pure-u-md-3-4">
      {{ partial "single/top.html" . }}

      {{ partial "post/toc.html" . }}

      <section class="post">
        {{ .Render "post/full" }}
        {{ partial "post/paging.html" . }}
      </section>

      {{ partial "post/comment.html" . }}
        
      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "totop/script.html" . }}

  {{ partial "socialsharing/script.html" . }}

  {{ partial "bodyend.html" . }}
</body>
</html>
