{{ partial "header" . }}
<body>
  {{ partial "totop/marker" . }}

  <div id="layout" class="pure-g">
    {{ partial "sidebar" . }}

    <div id="top" class="content pure-u-1 pure-u-md-3-4">
      {{ partial "single/top" . }}

      {{ partial "post/toc" . }}

      <section class="post">
        {{ .Render "post/full" }}
        {{ partial "post/paging" . }}
      </section>

      {{ partial "post/comment" . }}
        
      {{ partial "footer" . }}
    </div>
  </div>
  {{ partial "totop/script" . }}

  {{ partial "socialsharing/script" . }}

  {{ partial "bodyend" . }}
</body>
</html>
