{{ partial "header" . }}

<body>
  <div id="layout" class="pure-g">
    {{ partial "sidebar" . }}

    <div id="top" class="content pure-u-1 pure-u-md-3-4">
      {{ partial "list/top" . }}

      {{ $root := . }}
      {{ $page := (index .Data.Pages 0) }}
      {{ range $taxonomy, $value := .Data }}
        {{ if ne $taxonomy "Pages" }}
          {{ range (index $page.Params $taxonomy) }}
            {{ if eq ($root.Title | urlize | title) (. | urlize | title) }}
              <h1 class="post-title">{{ . }}</h1>
              {{ $desc := printf "%s-desc" $taxonomy }}
              {{ $desctax := index $root.Site.Taxonomies $desc }}
              {{ $descpages := index $desctax (. | urlize) }}
              {{ if len $descpages }}
                {{ $descpage := index $descpages 0 }}
                <span class="term-desc">{{ $descpage.Page.Content }}</span>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      <ul>
        {{ range .Data.Pages }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>

      {{ partial "footer" . }}
    </div>
  </div>
  {{ partial "bodyend" . }}
</body>
</html>
