{{- if not .Params.noauthor -}}
  {{- if isset .Params "author" -}}
    {{- $.Scratch.Set "l:link" .Params.author.link -}}
    {{- $.Scratch.Set "l:name" .Params.author.name -}}
  {{- else if not $.Site.Author.noauthor -}}
    {{- $.Scratch.Set "l:link" $.Site.Author.link -}}
    {{- $.Scratch.Set "l:name" $.Site.Author.name -}}
  {{- end -}}
  {{- $link := $.Scratch.Get "l:link" -}}
  {{- $name := $.Scratch.Get "l:name" -}}
  {{- if $name -}}
<span class="post-author-list">By
    {{ if $link }}<a class="post-author" href="{{ $link }}">{{ end -}}
    {{ $name }}
    {{- if $link }}</a>{{ end }}
</span>
  {{- end -}}
{{- end -}}
