{{ partial "doctype" . }}
<head>
  {{ partial "head" . }}
</head>
<body>
  <div id="layout" class="pure-g">
    {{ partial "sidebar" . }}

    <div id="top" class="content pure-u-1 pure-u-md-3-4">
      {{ partial "list/top" . }}

      <div class="posts">
        {{ if .Site.Params.filter }}
          {{ partial "list/filtered" . }}
        {{ else }}
          {{ range .Site.Recent }}
            {{ .Render "post/summary" }}
          {{ end }}
        {{ end }}
      </div>

      {{ partial "footer" . }}
    </div>
  </div>
  {{ partial "bodyend" . }}
</body>
</html>
