{{ partial "author/avatar" . }}
<h1 class="post-title">
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</h1>
{{ partial "code/badges" . }}
{{ if .Params.subtitle }}
<h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
{{ end }}

{{ partial "post/date" . }}
{{ partial "author/for-post" . }}
{{ partial "author/social/list" . }}
{{ partial "post/categories" . }}
{{ partial "socialsharing/buttons" . }}
{{ partial "post/bannerinline" . }}
{{ partial "series" . }}

{{ .Content }}

{{ partial "socialsharing/buttons" . }}
{{ partial "post/taglist" . }}
